bin/
obj/
*.user
*.suo
*.exe
*.dll
*.pdb
secrets.json
appsettings.json
# Ignore everything inside the naukri_sessions folder
NaukriScraperApi/Scripts/naukri_sessions/*

# But do NOT ignore the folder itself
!NaukriScraperApi/Scripts/naukri_sessions/.gitkeep
