<div class="main-container">
<div class="nav-container">
  <div class="headings">
    <h1>Build a customised AI<br />tailored resume in Mintes</h1>
    <p class="centered-text">
      <span>
        Instantly generate a professional, ATS-optimized resume tailored to your
        experience — </span
      ><br />
      <span>no design or writing skills needed.</span>
    </p>
    <br /><br />
    <div class="btn-class">
      <button class="login-btn">Login</button>
      <button class="signup-btn">
        <mat-icon>rocket_launch</mat-icon>Get Started
      </button>
    </div>
    <br />
    <br />
    <p style="font-weight: 600">Built with Latest Technologies</p>
  </div>

  <div class="hero-image">
    <img src="image - 2025-07-10T163903.163.png" alt="" class="" />
  </div>
</div>

  <div class="landing-page-bottom">
    
  </div>



</div>