<!-- <div class="builder-container">
    <div class="form-section">
      <h3>How would you like recruiters to <br> contact you?</h3>
      <h3 style="font-weight: 100; font-size: 1rem; margin-top: -20px; margin-bottom: 50px;">Include your full name and at least email or phone number</h3>

      <div class="section">
        <div class="form-sub-section">
          <div class="custom-input-container">
          <label>First Name</label>
          <input type="text" placeholder="John" required />
          <span class="underline"></span>
          </div>

          <div class="custom-input-container">
          <label for="">City</label>
          <input type="text" placeholder="Mumbai" required />
          <span class="underline"></span>
          </div>

          <div class="custom-input-container">
          <label for="">Phone Number</label>
          <input type="text" placeholder="+91-9876543210" required />
          <span class="underline"></span>
          </div>

          <div class="cancelbtn">
            <button>Back</button>
          </div>
        </div>

        <div class="form-sub-section">
          <div class="custom-input-container">
          <label for="">Last Name</label>
          <input type="text" placeholder="Doe" required />
          <span class="underline"></span>
          </div>

          <div class="custom-input-container">
          <label for="">Country</label>
          <input type="text" placeholder="India" required />
          <span class="underline"></span>
          </div>

          <div class="custom-input-container">
          <label for="">Email</label>
          <input type="text" placeholder="john.doe@example.com" required />
          <span class="underline"></span>
          </div>
          
          <div class="submitbtn">
            <button>Continue</button>
          </div>
          
        </div>

      </div>



      
  </div>

  <div class="preview-section">

  </div>
</div> -->

<div class="builder-container">
  <div class="form-section">
    <div class="sidebar-stepper">
      <div class="steps">
        <div
          *ngFor="let step of steps; let i = index"
          class="step-item"
          [class.active]="i === currentStep"
          [attr.data-label]="step.label"
          [class.visited]="i < currentStep"
        >
          <div class="icon-circle">
            <mat-icon>{{ step.icon }}</mat-icon>
          </div>
        </div>
      </div>
      <div class="stepLogo" routerLink="/landing-page">
        <img src="tick.png" class="stepperLogo" alt="" />
      </div>
    </div>

    <div class="stepper-body">
      <!-- Step 0: Contact Info -->
      <div *ngIf="currentStep === 0">
        <h3>How would you like recruiters to <br />contact you?</h3>
        <h3
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
          Include your full name and at least email or phone number
        </h3>

        <div class="section">
          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>First Name</label>
              <input
                type="text"
                [(ngModel)]="resume.firstName"
                placeholder="John"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>City</label>
              <input
                type="text"
                [(ngModel)]="resume.city"
                placeholder="Mumbai"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Phone Number</label>
              <input
                type="text"
                [(ngModel)]="resume.phoneNumber"
                placeholder="+91-9876543210"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="cancelbtn">
              <button>Back</button>
            </div>
          </div>

          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>Last Name</label>
              <input
                type="text"
                [(ngModel)]="resume.lastName"
                placeholder="Doe"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Country</label>
              <input
                type="text"
                [(ngModel)]="resume.country"
                placeholder="India"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Email</label>
              <input
                type="text"
                [(ngModel)]="resume.email"
                placeholder="john.doe@example.com"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="submitbtn">
              <button (click)="nextStep()">Continue</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Step 1: Experience -->
      <div *ngIf="currentStep === 1">
        <h3>Add your experience</h3>
        <br />
        <p
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
          Start with your most recent job first. You can also add voluntary
          work, <br />internships or extracurricular activities.
        </p>

        <div class="section">
          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>Job Title</label>
              <input
                type="text"
                [(ngModel)]="currentJob.jobTitle"
                placeholder="Software Engineer"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container" style="margin-bottom: 37px">
              <label>Start Date</label>
              <input
                type="text"
                [(ngModel)]="currentJob.startDate"
                placeholder="MM/YYYY"
                required
              />
              <span class="underline"></span>
            </div>

            <br />

            <div class="custom-input-container">
              <label>City</label>
              <input
                type="text"
                [(ngModel)]="currentJob.city"
                placeholder="Mumbai"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="cancelbtn">
              <button (click)="prevStep()">Back</button>
            </div>
          </div>

          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>Company Name</label>
              <input
                type="text"
                [(ngModel)]="currentJob.companyName"
                placeholder="Doe"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container" style="margin-bottom: 0px">
              <label>End Date</label>
              <input
                type="text"
                [(ngModel)]="currentJob.endDate"
                [disabled]="currentJob.currentlyWorking"
                placeholder="MM/YYYY"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="checkbox-container">
              <label>
                <input
                  type="checkbox"
                  [(ngModel)]="currentJob.currentlyWorking"
                />
                Currently working here
              </label>
            </div>
            <br />

            <div class="custom-input-container">
              <label>Country</label>
              <input
                type="text"
                [(ngModel)]="currentJob.country"
                placeholder="India"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="submitbtn">
              <button (click)="addJobDescription()">Continue</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Step 2: Education -->
      <div *ngIf="currentStep === 2">
        <h3>Add your Education</h3>
        <br />
        <p
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
          Tell us about any colleges, vocational programs, or training courses
          you took.
          <br />Even if you didn’t finish, it’s important to list them.
        </p>

        <div class="section">
          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>School Name</label>
              <input
                type="text"
                [(ngModel)]="education.schoolName"
                placeholder="College of Engineering, Pune"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Field of Study</label>
              <input
                type="text"
                [(ngModel)]="education.fieldOfStudy"
                placeholder="Engineering"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Qualification</label>
              <input
                type="text"
                [(ngModel)]="education.qualification"
                placeholder="Enter Qualification"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="cancelbtn">
              <button (click)="prevStep()">Back</button>
            </div>
          </div>

          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>School Location</label>
              <input
                type="text"
                [(ngModel)]="education.schoolLocation"
                placeholder="Pune"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Graduation Year</label>
              <input
                type="text"
                [(ngModel)]="education.graduationYear"
                placeholder="2023"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="custom-input-container">
              <label>Country</label>
              <input
                type="text"
                [(ngModel)]="education.country"
                placeholder="India"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="submitbtn">
              <button (click)="openEducationDialog()">Continue</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentStep === 3">
        <h3>Add your Projects</h3>
        <br /> 
        <p
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
            List your key projects, academic or professional. 
            <br />Describe the technologies used, your role, and the impact or results achieved.
        </p>

        <div class="section">
          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>Project Name</label>
              <input
                type="text"
                [(ngModel)]="currentProject.projectName"
                placeholder="Enter Project Name"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="cancelbtn">
              <button (click)="prevStep()">Back</button>
            </div>
          </div>

          <div class="form-sub-section">
            <div class="custom-input-container">
              <label>Technologies Used</label>
              <input
                type="text"
                [(ngModel)]="currentProject.technologiesUsed"
                placeholder="Java, Python"
                required
              />
              <span class="underline"></span>
            </div>

            <div class="submitbtn">
              <button (click)="openProjectsDialogue()">Continue</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Step 3: Skills -->
      <div *ngIf="currentStep === 4">
        <h3 style="margin-bottom: 0px !important">
          Add your
          <span style="color: #707fff; font-weight: 500">Skills</span>
        </h3>
        <br />
        <div class="skills-textarea">
          <angular-editor
            class="angular-editor-textarea angular-editor-textarea-skills"
            [placeholder]="'Please enter each individual Skill as a bullet point...'"
            [config]="editorConfig"
            [(ngModel)]="skillsEditorHtml"
          ></angular-editor>

          <div class="skill-suggestions">
            <p class="skill-suggestions-heading" style="font-weight: 600">
              Search recommended skills by job title, industry or keyword
            </p>

            <div class="search-bar">
              <div class="custom-input-container search-skill">
                <mat-icon class="search-icon">search</mat-icon>
                <input
                  type="text"
                  placeholder="Job Title, Industry or Keyword"
                  required
                />
                <span class="underline"></span>
              </div>
              <button class="show-skills-button">Show key Skills</button>
            </div>
            <br />

            <div class="skill-list-scroll-wrapper">
              <div class="skill-list" *ngFor="let skill of skillOptions">
                <div class="skill-item">
                  <div class="example-icon">
                    <button
                      class="icon-button"
                      (click)="addSkillToEditor(skill)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <span class="skill-text">{{ skill }}</span>
                </div>
              </div>
            </div>
            <br />
            <div class="btn-div">
              <div class="cancelbtn" style="margin-top: 30px">
                <button (click)="prevStep()">Back</button>
              </div>
              <div class="submitbtn">
                <button (click)="extractAndStoreSkills()">Continue</button>
              </div>
            </div>
          </div>
          <!-- <div class="popup-buttons">
        <button (click)="nextStep()" class="ai-button rainbow-button">
          <mat-icon style="font-size: 25px;">auto_awesome</mat-icon>&nbsp;&nbsp;
          Enhance with AI
        </button>
          <button (click)="includeJobDescription()" class="add-button">Add</button>
        </div> -->
        </div>
      </div>

      <!-- Step 4: Skills -->
      <div *ngIf="currentStep === 5">
        <h3 style="margin-bottom: 0px !important">Show your Certifications</h3>
        <br />
        <h3
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
          Show your certifications to your potential Employers
        </h3>
        <div class="skills-textarea">
          <angular-editor
            class="angular-editor-textarea angular-editor-textarea-skills"
            [placeholder]="'Enter text here...'"
            [config]="editorConfig"
            [(ngModel)]="certfEditorHtml"
          ></angular-editor>

          <div class="skill-suggestions">
            <p class="skill-suggestions-heading" style="font-weight: 600">
              Search common Industry Certifications
            </p>

            <div class="search-bar">
              <div class="custom-input-container search-skill">
                <mat-icon class="search-icon">search</mat-icon>
                <input
                  type="text"
                  placeholder="Job Title, Industry or Keyword"
                  required
                />
                <span class="underline"></span>
              </div>
              <button class="show-skills-button">Search</button>
            </div>
            <br />

            <div class="skill-list-scroll-wrapper">
              <div
                class="skill-list"
                *ngFor="let certf of popularCertifications"
              >
                <div class="skill-item">
                  <div class="example-icon">
                    <button
                      class="icon-button"
                      (click)="addCertfToEditor(certf)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <span class="skill-text">{{ certf }}</span>
                </div>
              </div>
            </div>
            <br />
            <div class="btn-div">
              <div class="cancelbtn" style="margin-top: 30px">
                <button (click)="prevStep()">Back</button>
              </div>
              <div class="submitbtn">
                <button (click)="extractAndStoreCertifications()">Continue</button>
              </div>
            </div>
          </div>
          <!-- <div class="popup-buttons">
        <button (click)="nextStep()" class="ai-button rainbow-button">
          <mat-icon style="font-size: 25px;">auto_awesome</mat-icon>&nbsp;&nbsp;
          Enhance with AI
        </button>
          <button (click)="includeJobDescription()" class="add-button">Add</button>
        </div> -->
        </div>
      </div>

      <!-- Step 5: Finalize -->
      <div *ngIf="currentStep === 6">
        <h3>Achivements</h3>
        <h3
          style="
            font-weight: 100;
            font-size: 1rem;
            margin-top: -20px;
            margin-bottom: 25px;
          "
        >
          Showcase your significant Achivements to the Employers
        </h3>
        <div class="skills-textarea">
          <angular-editor
            class="angular-editor-textarea angular-editor-textarea-skills"
            [placeholder]="'Enter text here...'"
            [config]="editorConfig"
            [(ngModel)]="achivementEditorHtml"
          ></angular-editor>

          <div class="skill-suggestions">
            <p class="skill-suggestions-heading" style="font-weight: 600">
              Search recommended Achivements
            </p>

            <div class="search-bar">
              <div class="custom-input-container search-skill">
                <mat-icon class="search-icon">search</mat-icon>
                <input
                  type="text"
                  placeholder="Job Title, Industry or Keyword"
                  required
                />
                <span class="underline"></span>
              </div>
              <button class="show-skills-button">Search</button>
            </div>
            <br />

            <div class="skill-list-scroll-wrapper">
              <div
                class="skill-list"
                *ngFor="let certf of achievements"
              >
                <div class="skill-item">
                  <div class="example-icon">
                    <button
                      class="icon-button"
                      (click)="addAchivemnetsToEditor(certf)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <span class="skill-text">{{ certf }}</span>
                </div>
              </div>
            </div>
            <br />
            <div class="btn-div">
              <div class="cancelbtn" style="margin-top: 30px">
                <button (click)="prevStep()">Back</button>
              </div>
              <div class="submitbtn">
                <button (click)="extractAndStoreAchievements()">Confirm & Submit</button>
              </div>
            </div>
          </div>
          <!-- <div class="popup-buttons">
        <button (click)="nextStep()" class="ai-button rainbow-button">
          <mat-icon style="font-size: 25px;">auto_awesome</mat-icon>&nbsp;&nbsp;
          Enhance with AI
        </button>
          <button (click)="includeJobDescription()" class="add-button">Add</button>
        </div> -->
        </div>
      </div>
    </div>
  </div>

 <!-- preview.component.html -->
<div id="resume-preview" class="preview-section" [ngSwitch]="templateName">

  <!-- Template 1 -->
  <app-resume-template1
    *ngSwitchCase=1
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template1>

  <!-- Template 2 -->
  <app-resume-template2
    *ngSwitchCase=2
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template2>

  <!-- Template 3 -->
  <app-resume-template3
    *ngSwitchCase=3
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template3>

  <!-- Default fallback -->
  <div *ngSwitchDefault>
    <p>Please select a resume template.</p>
  </div>

</div>

</div>

<!-- Resume Preview Overlay -->
<div class="resume-preview-overlay" *ngIf="showPreview">
  <div class="resume-preview-content">

    <!-- Close button -->
    <button class="close-btn" (click)="showPreview = false">✕</button>

    <!-- Resume Content -->
    <div id="resume-full-preview" class="resume-container">
      <div [ngSwitch]="templateName">
          <app-resume-template1
    *ngSwitchCase=1
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template1>

  <!-- Template 2 -->
  <app-resume-template2
    *ngSwitchCase=2
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template2>

  <!-- Template 3 -->
  <app-resume-template3
    *ngSwitchCase=3
    [resume]="resume"
    [currentJob]="currentJob"
    [education]="education"
    [currentSkill]="skillsEditorHtml"
    [currentCertifications]="certfEditorHtml"
    [currentAchivements]="achivementEditorHtml"
    [currentProjects]="currentProject">
  </app-resume-template3>

  <!-- Default fallback -->
  <div *ngSwitchDefault>
    <p>Please select a resume template.</p>
  </div>
      </div>
    </div>

    <!-- Download button -->
     <div class="submitbtn">
      <button class="download-btn" (click)="downloadResume()">Download</button>
     </div>
    
  </div>
</div>


<ng-template #experienceConfirm>
  <div class="popup-container">
    <div class="popup">
      <h4>Review your Experience</h4>
      <br />

      <div class="job-review" *ngFor="let job of resume.jobs">
        <div class="job-box">
          <div class="job-header">
            <span class="job-title">{{ job.jobTitle }}</span>
            <span class="company-name">{{ job.companyName }}</span>
            <span class="company-name">{{ job.city }}</span>
          </div>
          <hr />
          <div class="job-description">
            {{ job.description }}
          </div>
        </div>
      </div>

      <div class="popup-buttons">
        <button (click)="nextStep()" class="no-button">No</button>
        <button (click)="addAnotherJob()" class="yes-button">+ Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #educationDialog>
  <div class="popup-container">
    <div class="popup">
      <h4>Review your Education</h4>
      <br />

      <div class="job-review" *ngFor="let edu of resume.education">
        <div class="job-box">
          <div class="job-header">
            <span class="job-title">{{ edu.schoolName }}</span>
            <span class="company-name">{{ edu.fieldOfStudy }}</span>
            <span class="company-name">{{ edu.graduationYear }}</span>
          </div>
        </div>
      </div>

      <div class="popup-buttons">
        <button (click)="nextStep()" class="no-button">No</button>
        <button (click)="addAnotherEducation()" class="yes-button">
          + Yes
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #jobDescription>
  <div class="popup-container">
    <div class="popup">
      <h4 style="font-weight: 500">Add Job Description</h4>
      <br />
      <!-- <textarea
        [(ngModel)]="currentJob.description"
        placeholder="Describe your job responsibilities and achievements..."
      ></textarea>
      <button (click)="nextStep()">Continue</button> -->

      <angular-editor
        class="angular-editor-textarea"
        [placeholder]="'Enter text here...'"
        [config]="editorConfig"
        [(ngModel)]="currentJob.description"
      ></angular-editor>
      <div class="popup-buttons">
        <button (click)="nextStep()" class="ai-button rainbow-button">
          <mat-icon style="font-size: 25px">auto_awesome</mat-icon>&nbsp;&nbsp;
          Enhance with AI
        </button>
        <button (click)="includeJobDescription()" class="add-button">
          Add
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #projectDescription>
  <div class="popup-container">
    <div class="popup">
      <h4 style="font-weight: 500">Add Project Description</h4>
      <br />
      <!-- <textarea
        [(ngModel)]="currentJob.description"
        placeholder="Describe your job responsibilities and achievements..."
      ></textarea>
      <button (click)="nextStep()">Continue</button> -->

      <angular-editor
        class="angular-editor-textarea"
        [placeholder]="'Enter text here...'"
        [config]="editorConfig"
        [(ngModel)]="currentProject.projectDescription"
      ></angular-editor>
      <div class="popup-buttons">
        <button (click)="nextStep()" class="ai-button rainbow-button">
          <mat-icon style="font-size: 25px">auto_awesome</mat-icon>&nbsp;&nbsp;
          Enhance with AI
        </button>
        <button (click)="includeProjectDescription()" class="add-button">
          Add
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #projectConfirmation>
  <div class="popup-container">
    <div class="popup">
      <h4>Review your Project</h4>
      <br />

      <div class="job-review" *ngFor="let project of resume.projects">
        <div class="job-box">
          <div class="job-header">
            <span class="job-title">{{ project.projectName }}</span>
            <span class="company-name">{{ project.technologiesUsed }}</span>
          </div>
          <hr />
          <div class="job-description">
            {{ project.projectDescription }}
          </div>
        </div>
      </div>

      <div class="popup-buttons">
        <button (click)="nextStep()" class="no-button">No</button>
        <button (click)="addAnotherJob()" class="yes-button">+ Yes</button>
      </div>
    </div>
  </div>
</ng-template>