<mat-toolbar color="primary">
  <img src="appLogo.png" alt="App Logo" class="app-logo" />

  <span class="spacer"></span>
  
  <!-- Navigation Buttons (Visible when authenticated) -->
  <ng-container *ngIf="authService.isAuthenticated()">
    <button mat-button (click)="dashboard()">Home</button>
    <button mat-button (click)="jobSearch()">Job Search</button>
    <button mat-button (click)="fetchedJobs()">Fetched Jobs</button>
    <button mat-button (click)="logout()">Logout</button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="userProfile()">Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="loginToNaukri()">login to Naukri</button>
  </mat-menu>

  <!-- Three-dot dropdown menu -->

</mat-toolbar>
