.table-container {
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 20px;
    background: #f5f5f5;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }
  
  td {
    padding: 20px;
    border-bottom: 1px solid #eee;
    color: #555;
  }
  
  tr:hover {
    background: #f9f9f9;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .upperTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .align-left {
    flex: 1;
  }
  .align-right {
    display: flex;
    gap: 10px;
  }

  .error-message {
    color: red;
  }

  .no-jobs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .no-jobs-text {
    text-align: center;
    font-size: 2rem;
    color: gray;
  }

  .success-message {
    color: green;
  }


  .progress-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  
  .progress-card {
    width: 50%;
    padding: 20px;
    background-color: white; /* Set background to white */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .centered-progress-bar {
    width: 100%;
  }

  .filterButtons {
    display: flex;
    
  }