<div class="card-container">
  <mat-card class="card" appearance="raised" (click)="openJobSearch()">
    <mat-card-content>
      <h4>🚀 Auto Job Applier</h4>
      <p class="status">Work in progress</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" appearance="raised">
    <mat-card-content>
      <h4>📄 Auto Cover Letter Generator</h4>
      <p class="status">Yet to be launched</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" appearance="raised">
    <mat-card-content>
      <h4>📧 Auto Cold Mailer</h4>
      <p class="status">Yet to be launched</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" appearance="raised">
    <mat-card-content>
      <h4>🤖 AI Resume Generator</h4>
      <p class="status">Yet to be launched</p>
    </mat-card-content>
  </mat-card>
</div>
