/* Centering the cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Two cards per row */
  gap: 40px;
  justify-content: center;
  max-width: 700px; /* Set max width to prevent full-width stretch */
  margin: 205px auto; /* Centering the grid on the page */
}

/* Card styles */
.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  padding: 27px 10px;
  

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  h4 {
    margin: 5px 0;
    font-size: 15px; /* Smaller font */
    font-weight: 500;
  }

  .status {
    color: #666;
    font-size: 12px; /* Smaller status text */
  }

}
