<h3 style="text-align: center; margin-top: 100px; font-weight: 500; font-size: 2.5rem;">How long have you been working?</h3>
<h5 style="text-align: center; font-weight: 100; font-size: 1.2rem;">We'll find the best templates for your experience level.</h5>

<div class="container">
  <button 
    class="exp-btn"
    *ngFor="let option of experienceOptions"
    [ngClass]="{'selected': selectedOption === option}"
    (click)="selectOption(option)"
  >
    {{ option }}
  </button>

  <button *ngIf="selectedOption" class="continue" (click)="selectTemplate()">Continue</button>
</div>
