/* Centering and styling the card */
.login-card {
    max-width: 380px; /* Slightly smaller */
    margin: 40px auto; /* Centers it */
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  /* mat-form-field {

  } */

  /* Smaller heading */
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  /* Input fields should take full width */
  .full-width {
    width: 100%;
    margin-bottom: 12px;
    
  }
  

  .register-link {
    cursor: pointer;
  }
